neusta_converter:
  converter:
    test.person.converter:
#      converter: Neusta\ConverterBundle\Converter\GenericConverter
      target_factory: Neusta\ConverterBundle\Tests\Fixtures\Model\PersonFactory
      populators:
        - Neusta\ConverterBundle\Tests\Fixtures\Populator\PersonNamePopulator
#      properties:
#        fullName: ~
#        age: ageInYears
#      context:
#        group: ~ # same property name
#        locale: language # different property names

    test.contactnumber.converter:
      target_factory: Neusta\ConverterBundle\Tests\Fixtures\Model\ContactNumberFactory
      properties:
        phoneNumber: number

  populators:
    test.person.address.populator:
      converter: test.address.converter
      property:
        address: ~

