parameters:
	paths:
		- src
		- tests

	excludePaths:
		- src/DependencyInjection/Configuration.php
		- src/DependencyInjection/NeustaConverterExtension.php
		- vendor
		- tests

	checkGenericClassInNonGenericObjectType: false
