parameters:
	paths:
		- src
#		- tests

	excludePaths:
		- vendor
		- tests/app

	symfony:
		containerXmlPath: tests/app/var/cache/test/TestKernelTestDebugContainer.xml

	checkGenericClassInNonGenericObjectType: false
