<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    cacheResultFile=".phpunit.cache/test-results"
    colors="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <php>
        <ini name="display_startup_errors" value="On"/>
        <ini name="display_errors" value="On"/>
        <ini name="error_reporting" value="-1"/>
        <env name="KERNEL_CLASS" value="TestKernel"/>
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
    </php>

    <testsuites>
        <testsuite name="All tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory=".phpunit.cache/code-coverage" processUncoveredFiles="true">
        <include>
            <directory>./src</directory>
        </include>
    </coverage>
</phpunit>
