div.flex-container {
    display: flex;
}

div.flex-container div.flex-child {
    flex: 1 1 auto;
}

.error-presentation-has-no-slides {
    border: 5px dashed red;
    border-radius: 25px;
    padding: 2rem;
}
