services:
    _defaults:
        autowire: false
        autoconfigure: false

    ############################################################
    # Generic Converter
    ############################################################
    neusta_converter.generic_converter:
        abstract: true
        class: Neusta\ConverterBundle\Converter\GenericConverter

    ############################################################
    # Strategic Converter
    ############################################################
    neusta_converter.strategic_converter:
        abstract: true
        class: Neusta\ConverterBundle\Converter\StrategicConverter

    ############################################################
    # Populators
    ############################################################
    neusta_converter.property_mapping_populator:
        abstract: true
        class: Neusta\ConverterBundle\Populator\PropertyMappingPopulator

    neusta_converter.converting_populator:
        abstract: true
        class: Neusta\ConverterBundle\Populator\ConvertingPopulator

    neusta_converter.array_property_mapping_populator:
        abstract: true
        class: Neusta\ConverterBundle\Populator\ArrayPropertyMappingPopulator

    neusta_converter.array_converting_populator:
        abstract: true
        class: Neusta\ConverterBundle\Populator\ArrayConvertingPopulator
