<div class="chip-container">
    <label class="chip-label" for="chips-filter">Filter by:</label>
    <div class="chips">
        <button id="chips-filter" class="chip-button chip-converters">
            <i class="material-icons">sync_alt</i>Converters
        </button>
        <button class="chip-button chip-populator">
            <i class="material-icons">build_circle</i>Populators
        </button>
        <button class="chip-button chip-factories">
            <i class="material-icons">factory</i>Factories
        </button>
        <button class="chip-button chip-sort-name">
            <i class="material-icons">sort_by_alpha</i>Sort by Name
        </button>
        <button class="chip-button chip-sort-type">
            <i class="material-icons">category</i>Sort by Type
        </button>
        <button class="chip-button chip-reset">
            <i class="material-icons">restart_alt</i>Reset all
        </button>
    </div>
</div>
