<div class="search-container">
    <input type="text" id="search" placeholder="{{ 'neusta_converter.debug.service_inspector.chip_container.search_placeholder'|trans }}" onkeyup="filterAccordion()">
</div>
