.header-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

.header-box {
    border-radius: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.6);
    color: #202020;
    box-shadow: 0 20px 30px -10px rgb(16 16 39 / 7%);
    text-wrap: balance;
    margin-bottom: 40px;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.header-box--info {
    /* Zusätzliche Styles für die Info-Box */
}

.welcome {
    display: flex;
    align-items: center;
    font-weight: 800;
    gap: 20px;
    margin-left: auto;
    color: #141414;
}

.welcome_user {
    width: 30px;
    height: 30px;
}

.user-name {
    font-style: italic;
}

.welcome_user-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-level {
    border-radius: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    display: flex;
    position: relative;
    background-color: #fff;
    background-image: linear-gradient(-225deg, #fffeff 0%, #d7fffe 100%);
    color: #060633;
    box-shadow: 0 20px 30px -10px rgb(16 16 39 / 7%);
    text-wrap: balance;
    margin-bottom: 40px;
}

.body-container {
    border-radius: 2.5rem;
    flex-direction: column;
    align-items: flex-start;
    min-height: 15rem;
    padding: 2rem;
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.9);
    color: #060633;
    box-shadow: 0 20px 30px -10px rgb(16 16 39 / 7%);
    text-wrap: balance;
}

.body-headline {
    display: flex;
    align-items: center;
}

.book {
    margin-right: 10px;
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    padding-right: 12px;
    justify-content: space-between;
}

.search-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgba(39, 39, 41, 0.78);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56.966 56.966' fill='%23717790c7'%3e%3cpath d='M55.146 51.887L41.588 37.786A22.926 22.926 0 0046.984 23c0-12.682-10.318-23-23-23s-23 10.318-23 23 10.318 23 23 23c4.761 0 9.298-1.436 13.177-4.162l13.661 14.208c.571.593 1.339.92 2.162.92.779 0 1.518-.297 2.079-.837a3.004 3.004 0 00.083-4.242zM23.984 6c9.374 0 17 7.626 17 17s-7.626 17-17 17-17-7.626-17-17 7.626-17 17-17z'/%3e%3c/svg%3e");
    background-size: 14px;
    background-repeat: no-repeat;
    background-position: 16px 50%;
    padding-left: 45px;
    box-shadow: 0 20px 30px -10px rgb(16 16 39 / 7%);
    margin-bottom: 30px;
    border: 2px solid #282829;
}


.chips {
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.chip-button {
    border-radius: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    transition: all 0.5s;
}

.chip-button:hover,
.chip-button.active {
    color: #fff;
}

.chip-button.active {
    color: #fff;
    outline-offset: 2px;
    outline-width: 2px;
    outline-style: solid;
    padding: 5px 40px;
}

.chip-converters {
    background-color: #00968783;
}

.chip-populator {
    background-color: #e91e6287;
}

.chip-factories {
    background-color: #3f51b58c;
}

.chip-sort-name {
    background-color: #3f94b5;
}

.chip-sort-type {
    background-color: #3f94b5;
}

.chip-converters:hover,
.chip-converters.active {
    background-color: #009688;
    outline-color: #009688;
}

.chip-populator:hover,
.chip-populator.active {
    background-color: #E91E63;
    outline-color: #E91E63;
}

.chip-factories:hover,
.chip-factories.active {
    background-color: #3F51B5;
    outline-color: #3F51B5;
}

.chip-sort-name:hover,
.chip-sort-name.active {
    background-color: #3f94b5;
    outline-color: #3f94b5;
}

.chip-sort-type:hover,
.chip-sort-type.active {
    background-color: #3f94b5;
    outline-color: #3f94b5;
}

.chip-label {
    display: block;
    font-size: 14px;
    padding: 0 5px;
    margin-bottom: 10px;
}

.chip-reset {
    background-color: #ccc;
}

.chip-reset:hover {
    background-color: #aaa;
    color: white;
}

.logo-neusta {
    position: absolute;
    top: -60px;
    right: -90px;
    opacity: 0.3;
}
